.App{
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.markdown{
  height: 70vh;
  width: 40vw;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  font-size: 1.3rem;
}
.text{
  height: 70vh;
  width: 40vw;
  background-color: rgb(65, 64, 64);
  border-radius: 20px;
  padding: 2rem;
  font-size: 1.3rem;
  color: #fff;
}